<h1>Edit</h1>
<br><br>
<% if @consumer.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@consumer.errors.count, "error") %> Prohibited
      this Consumer from being saved:
    </h2>
    <ul>
      <% @consumer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_for @consumer do |f| %>

<table cellpadding="10">
  <tr>
  	<td>First Name</td>
    <td><%= f.text_field :first_name %></td>
  </tr>
  <tr>
  	<td>Last Name</td>
    <td><%= f.text_field :last_name %></td>
  </tr>
  <tr>
  	<td>Contact No.</td>
    <td><%= f.text_field :phone %></td>
  </tr>
  <tr>
  	<td>Address</td>
    <td><%= f.text_field :address %></td>
  </tr>
  <tr>
  	<td>City</td>
    <td><%= f.text_field :city %></td>
  </tr>
  <tr>
  	<td>State</td>
    <td><%= f.text_field :state %></td>
  </tr>
  <tr>
  	<td>Country</td>
    <td><%= f.text_field :country %></td>
  </tr>
  <tr>
  	<td>Zip Code</td>
    <td><%= f.text_field :zip_code %></td>
  </tr>
  <tr>
  	<td>Email</td>
    <td><%= f.text_field :email %></td>
  </tr>
  <tr>
    <td>Password</td>
    <td><%= f.password_field :password %></td>
  </tr>
</table>

 <p><%= f.submit 'Update'%></p> 
<% end %>