<tr><td><div style = "border:1px solid black; padding:1em;">
  <%= link_to product.name, product_path(product.id) %>
  <br><br>
  Price : <%= product.price %>
  <br><br>
  
  <% if current_user && current_user.is_admin?%>
    <div>
      <button><%= link_to 'Edit', edit_product_path(product.id) %>
      </button>
      &nbsp;
      <button><%= link_to 'Destroy', product_path(product.id), method: :delete, data: { confirm: 'Are you sure?' } %>
      </button>
    </div>
  <% else %>
  <span id = 'add-remove-button-<%= product.id %>'>
    <% if current_user && @cart_item_ids.include?(product.id) %>
      <%= render 'products/remove_item', :locals => {:product_id => product.id} %>
    <% elsif current_user %> 
      <%= render 'products/add_to_cart', :locals => {:product_id => product.id, :price => product.price} %>
    <% end%>
  </div>
  <% end %>
  <br>
</div>
</td></td>